.navie{
  border-bottom: solid 1px black;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item{
  text-decoration: none;
  color: rgb(2, 2, 90);
  font-weight: bold;
}

.nav-item:hover{
  color: rgb(126, 126, 231);
}

.logo-title{
  color: rgb(1, 1, 32);
}
